body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
	font-size: 12.5pt;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 6px 0px;
	font-size: 14pt;
	font-weight: normal;
	color: #555;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;		/* Clearfix */
}

nav img {
	display: none;
}

nav {
}

nav h1 {
	padding: 5px;
	color: #555;
}

nav ul {
	display: table;
	background: #e9e9e9;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

nav ul li {
	display: table-cell;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 20%;
}

nav a {
	display: inline-block;
	width: 100%;
	line-height: 20px;
	margin: 0;
	padding: 6px;
	font-size: 14pt;
	color: #555;
}

nav a:hover {
	background: #ddd;
}

blockquote {
}

/* For non-mobile devices */
@media screen and (min-width: 800px) {
	nav {
		position: fixed;
		top: 0px;
		width: 180px;
	}
	nav ul {
		display: block;
	}
	nav ul li {
		display: block;
		text-align: left;
		width: 100%;
	}
	nav a {
		display: block;
	}
	nav img {
		display: block;
		width: 180px;
		height: 180px;
	}
	article {
		margin-left: 200px;
	}
	section {
	}
}
